<div class="row mx-1">
    <div class="col-12">

        {# First  #}
        <div class="col-sm-12">
            <p class="h1-settings" data-uw-rm-color-contrast="prs"><img src="/images/fwwebb/events/training-icon.gif"
                    align="right" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="SM">GE Ductless
                Cold Climate Training</p>
            <time>
                <p class="dk-gray" data-uw-rm-color-contrast="prs"><strong data-uw-rm-color-contrast="prs">Wednesday,
                        May 15 2024</strong><br role="presentation" data-uw-rm-sr=""> 08:00 AM to 01:00 PM<br
                        role="presentation" data-uw-rm-sr=""></p>
                <address data-uw-rm-color-contrast="prs"><strong data-uw-rm-color-contrast="prs">F.W. Webb
                        Company</strong>
                    <br role="presentation" data-uw-rm-sr="">700 Broadway<br role="presentation"
                        data-uw-rm-sr="">Malden, Massachusetts 02148
                </address>
                <p data-uw-rm-color-contrast="prs"><b data-uw-rm-color-contrast="prs">Topics covered will include:</b>
                    <br role="presentation" data-uw-rm-sr="">• Introduction to GE Ductless
                    <br role="presentation" data-uw-rm-sr="">• Technology and Product Lineup
                    <br role="presentation" data-uw-rm-sr="">• Installation and Startup
                    <br role="presentation" data-uw-rm-sr="">• System Operation and Control
                    <br role="presentation" data-uw-rm-sr="">• Troubleshooting
                    <br role="presentation" data-uw-rm-sr="">• Application
                    <br role="presentation" data-uw-rm-sr="">
                    <br role="presentation" data-uw-rm-sr=""><i data-uw-rm-color-contrast="prs">Lunch and refreshments
                        will be provided</i>
                    <br role="presentation" data-uw-rm-sr="">
                    <br role="presentation" data-uw-rm-sr=""><b data-uw-rm-color-contrast="prs">Space is
                        limited...register today!</b>
                    <br role="presentation" data-uw-rm-sr="">
                    <a href="https://form.jotform.com/241015259928156" target="_blanc" data-uw-rm-color-contrast="prs"
                        data-uw-rm-brl="PR" data-uw-original-href="https://form.jotform.com/241015259928156">Click Here
                        to Register</a><br role="presentation" data-uw-rm-sr="">
                </p>
                <p></p>
                <hr role="presentation" data-uw-rm-sr="">
            </time>
        </div>


    </div>
</div>