{% extends "fwwebbbase.html.twig" %}

{% block content %}


<!--  404 Comment-->

<div id="wocontent" class="container mt-3 mb-5">
    <div class="row center">
        <div class="col-12 pb-3">
            <h1 data-uw-rm-color-contrast="prs" role="heading" aria-level="2" data-uw-rm-heading="level">We're sorry but
                that
                page was not found.</h1>
            <h2 class="" data-uw-rm-color-contrast="prs">Please try the following options:</h2>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-6 px-5 my-md-3">
                <div class="gray-bkg py-1 py-md-3 px-5"> <span class="dk-gray"
                        style="font-size: 200%; font-weight: lighter"> <i class="fa fa-search"></i></span>
                    <p data-uw-rm-color-contrast="prs">Use the search box to try again</p>
                </div>
            </div>
            <div class="col-12 col-md-6 px-5 my-md-3"> <a href="/" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/">
                    <div class="gray-bkg py-1 py-md-3" data-data-uw-rm-color-contrast-styled="true"
                        data-uw-rm-color-contrast="afix"
                        style="background: rgb(238, 238, 238) !important; transition: all 0s ease 0s;"> <span
                            class="dk-gray" style="font-size: 200%; font-weight: lighter"> <i
                                class="fa fa-home"></i></span>
                        <p data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true"
                            style="color: rgb(0, 83, 130) !important; transition: all 0s ease 0s;">Visit our home page
                        </p>
                    </div>
                </a> </div>
        </div>
        <h2 class="center my-4" data-uw-rm-color-contrast="prs">Shop by Department</h2>
        <div class="col-12 col-md-4"> <a href="/landing/main-plumbing.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-plumbing.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Plumbing</div>
            </a> <a href="/landing/main-heating.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-heating.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Heating</div>
            </a> <a href="/landing/main-hvacr.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-hvacr.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    HVAC/R</div>
            </a> <a href="/landing/main-pipe.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-pipe.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Pipe</div>
            </a> </div>
        <div class="col-12 col-md-4"> <a href="/landing/main-industrial.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-industrial.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Industrial</div>
            </a> <a href="/landing/main-propane.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-propane.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Propane</div>
            </a> <a href="/landing/main-valves.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-valves.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Valves</div>
            </a> <a href="/landing/main-fittings.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-fittings.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Fittings</div>
            </a> </div>
        <div class="col-12 col-md-4"> <a href="/landing/main-hangers.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-hangers.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Hangers</div>
            </a> <a href="/landing/main-electrical.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-electrical.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Electrical</div>
            </a> <a href="/landing/main-tools.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-tools.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Tools</div>
            </a> <a href="/landing/main-safety.php" data-uw-rm-brl="PR"
                data-uw-original-href="https://www.fwwebb.com/landing/main-safety.php">
                <div class="col-12 blue-btn btn-lg center my-1" data-uw-rm-color-contrast="afix"
                    data-data-uw-rm-color-contrast-styled="true"
                    style="background: rgb(0, 93, 140) !important; transition: all 0s ease 0s; color: rgb(255, 255, 255) !important;">
                    Safety</div>
            </a> </div>
    </div>
</div>




{% endblock %}