{% extends "fwwebbbase.html.twig" %}


{% block content %}

<div class="container-fluid mt-4 mb-3 logged-in-hide">
    <!--HIDDEN BLOCK, should be displayed if customer not logged in-->
    <div class="container-xl container-lg logged-in-hide grey-bkg">
        <!--register banner-->
        <!--XL AND XXL-->
        <div id="home-register"
            data-options="{&quot;id&quot;:&quot;register&quot;,&quot;name&quot;:&quot;registerdesktop&quot;,&quot;creative&quot;:&quot;v1&quot;}"
            class="promotion d-none d-md-none d-lg-none d-xl-block">
            <div class="row center">
                <p class="col-xl-4 text-dark fs-4 mt-3"><b data-uw-rm-color-contrast="prs">Your Business, Made
                        Easier</b></p>
                <p class="col-xl-4 text-dark fs-6 mt-3" data-uw-rm-color-contrast="prs">Order supplies, pay bills, bill
                    your
                    customer &amp;<br role="presentation" data-uw-rm-sr="">
                    more when you sign up for an online account.</p>
                <a class="col-xl-4 mt-3" href="/register" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/register">
                    <div class="btn btn-red" data-uw-rm-color-contrast="afix"
                        data-data-uw-rm-color-contrast-styled="true"
                        style="background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;">
                        Register Now</div>
                </a>
            </div>
        </div>
        <!--LG ONLY-->
        <div id="home-register"
            data-options="{&quot;id&quot;:&quot;register&quot;,&quot;name&quot;:&quot;registertablet&quot;,&quot;creative&quot;:&quot;v1&quot;}"
            class="promotion d-none d-none d-md-none d-lg-block d-xl-none">
            <div class="row center">
                <p class="col-lg-4 text-dark fs-4 mt-4"><b data-uw-rm-color-contrast="prs">Your Business, Made<br
                            role="presentation" data-uw-rm-sr="">
                        Easier</b></p>
                <p class="col-lg-4 text-dark fs-6 mt-4" data-uw-rm-color-contrast="prs">Order supplies, pay bills, bill
                    your<br role="presentation" data-uw-rm-sr="">
                    customer &amp;more when you<br role="presentation" data-uw-rm-sr="">
                    sign up for an online account.</p>
                <a class="col-lg-4 mt-4" href="/register" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/register">
                    <div class="btn btn-red" data-uw-rm-color-contrast="afix"
                        data-data-uw-rm-color-contrast-styled="true"
                        style="background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;">
                        Register Now</div>
                </a>
            </div>
        </div>
        <!--MD, SM AND XS-->
        <div id="home-register"
            data-options="{&quot;id&quot;:&quot;register&quot;,&quot;name&quot;:&quot;registermobile&quot;,&quot;creative&quot;:&quot;v1&quot;}"
            class="promotion d-md-block d-lg-none">
            <div class="row center">
                <p class="col-12 col-md-12 text-dark fs-4 mt-2"><b data-uw-rm-color-contrast="prs">Your Business, Made
                        Easier</b></p>
                <p class="col-12 col-md-12 text-dark fs-6 mt-0" data-uw-rm-color-contrast="prs">Order supplies, pay
                    bills, bill
                    your customer &amp;<br role="presentation" data-uw-rm-sr="">
                    more when you sign up for an online account.</p>
                <a class="col-12 col-md-12 mb-3" href="/register" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/register">
                    <div class="btn btn-red" data-uw-rm-color-contrast="afix"
                        data-data-uw-rm-color-contrast-styled="true"
                        style="background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;">
                        Register Now</div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--HIDDEN BLOCK, should be displayed if customer not logged in-->
<div class="container-fluid mt-2 mb-3">
    <div class="container-xl container-lg center">
        <div class="row mx-auto-front center">

            <div id="home-main-zone-1"
                data-options="{&quot;id&quot;:&quot;hvac&quot;,&quot;name&quot;:&quot;hvac-spring-maintenance&quot;,&quot;creative&quot;:&quot;left-banner&quot;}"
                class="promotion col-md-8 center-box banner mt-3 p-0 position-relative img-fluid">
                <a href="/landing/hvacgearup.php?utm_source=direct&amp;utm_medium=banner&amp;utm_campaign=hvac&amp;utm_content=homepage"
                    class="promotion no-text-decoration" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/hvacgearup.php?utm_source=direct&amp;utm_medium=banner&amp;utm_campaign=hvac&amp;utm_content=homepage">
                    <div class="banner-container">
                        <img src="/images/fwwebb/campaigns/2024/april/Desktop-Spring_Home-banner-1200x450.webp"
                            class="center img-fluid p-0 m-0 d-none d-md-block col-sm-none d-lg-block"
                            style="border-right: 7px solid white;" width="1200" height="450"
                            alt="hvac tools and supplies" data-uw-rm-alt-original="hvac tools and supplies"
                            data-uw-rm-alt="ALT">
                        <img src="/images/fwwebb/campaigns/2024/april/Mobile-Spring_Home-banner-800x350.webp"
                            class="promotion d-block d-sm-block d-md-none d-lg-none center img-fluid p-0 m-0"
                            width="800" height="350" alt="hvac tools and supplies"
                            data-uw-rm-alt-original="hvac tools and supplies" data-uw-rm-alt="ALT">

                        <div class="left d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-block">
                            <p
                                style="position:absolute;top:17px;left:15px;line-height:40px;font-size:222%;color:white;">
                                <strong data-uw-rm-color-contrast="prs">Gear Up for HVAC<br role="presentation"
                                        data-uw-rm-sr="">Spring
                                    Maintenance.</strong>
                            </p>
                            <p
                                style="position:absolute;top:120px;left:15px;line-height:25px;font-size:140%;color:white">
                                <strong data-uw-rm-color-contrast="prs">Solutions you need from<br role="presentation"
                                        data-uw-rm-sr="">experts you trust.</strong>
                            </p>
                        </div>
                        <div class="left d-none d-sm-none d-md-none d-lg-none d-xl-block d-xxl-none">
                            <p
                                style="position:absolute;top:15px;left:15px;line-height:35px;font-size:187%;color:white;">
                                <strong data-uw-rm-color-contrast="prs">Gear Up for HVAC<br role="presentation"
                                        data-uw-rm-sr="">Spring
                                    Maintenance.</strong>
                            </p>
                            <p
                                style="position:absolute;top:100px;left:15px;line-height:25px;font-size:120%;color:white">
                                <strong data-uw-rm-color-contrast="prs">Solutions you need from<br role="presentation"
                                        data-uw-rm-sr="">experts you trust.</strong>
                            </p>
                        </div>
                        <div class="left d-none d-sm-block d-md-none d-lg-block d-xl-none d-xxl-none">
                            <p
                                style="position:absolute;top:15px;left:15px;line-height:30px;font-size:155%;color:white;">
                                <strong data-uw-rm-color-contrast="prs">Gear Up for HVAC<br role="presentation"
                                        data-uw-rm-sr="">Spring
                                    Maintenance.</strong>
                            </p>
                            <p style="position:absolute;top:85px;left:15px;line-height:20px;font-size:100%;color:white">
                                <strong data-uw-rm-color-contrast="prs">Solutions you need from<br role="presentation"
                                        data-uw-rm-sr="">experts you trust.</strong>
                            </p>
                        </div>
                        <div class="left d-none d-sm-none d-md-block d-lg-none d-xl-none d-xxl-none">
                            <p
                                style="position:absolute;top:10px;left:10px;line-height:25px;font-size:117%;color:white;">
                                <strong data-uw-rm-color-contrast="prs">Gear Up for HVAC<br role="presentation"
                                        data-uw-rm-sr="">Spring
                                    Maintenance.</strong>
                            </p>
                            <p style="position:absolute;top:65px;left:10px;line-height:15px;font-size:80%;color:white">
                                <strong data-uw-rm-color-contrast="prs">Solutions you need from<br role="presentation"
                                        data-uw-rm-sr="">experts you trust.</strong>
                            </p>
                        </div>
                        <div class="left d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none">
                            <p
                                style="position:absolute;top:10px;left:10px;line-height:20px;font-size:110%;color:white;">
                                <strong data-uw-rm-color-contrast="prs">Gear Up for HVAC<br role="presentation"
                                        data-uw-rm-sr="">Spring
                                    Maintenance.</strong>
                            </p>
                            <p style="position:absolute;top:60px;left:10px;line-height:15px;font-size:80%;color:white">
                                <strong data-uw-rm-color-contrast="prs">Solutions you need from<br role="presentation"
                                        data-uw-rm-sr="">experts you trust.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="btn btn-red d-none d-sm-none d-md-none d-lg-none d-xl-block d-xxl-block"
                        style="position: absolute; bottom: 41px; left: 15px; padding: 0.25rem 0.45rem !important; background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;"
                        data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true">SHOP NOW</div>
                    <div class="btn btn-red d-none d-sm-block d-md-none d-lg-block d-xl-none d-xxl-none"
                        style="position: absolute; bottom: 35px; left: 15px; padding: 0.25rem 0.45rem !important; background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;"
                        data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true">SHOP NOW</div>
                    <div class="btn btn-red d-none d-sm-none d-md-block d-lg-none d-xl-none d-xxl-none"
                        style="position: absolute; bottom: 20px; left: 10px; padding: 0.25rem 0.45rem !important; background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;"
                        data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true">SHOP NOW</div>
                    <div class="btn btn-red d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none"
                        style="position: absolute; bottom: 10px; left: 10px; padding: 0.25rem 0.45rem !important; background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;"
                        data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true">SHOP NOW</div>

                </a>


            </div>

            <!-- RIGHT BLOCK 2 GENERIC LOCATIONS BANNER - -->
            <div id="home-main-zone-2"
                data-options="{&quot;id&quot;:&quot;locations&quot;,&quot;name&quot;:&quot;100+locations&quot;,&quot;creative&quot;:&quot;right-banner&quot;}"
                class="promotion col-sm-12 col-md-4 center-box banner mt-3 py-0 px-0 position-relative">
                <a href="/locations/?utm_source=location%20banner&amp;utm_medium=homepage&amp;utm_campaign=promotion&amp;utm_content=View%20Locations%20and%20Hours"
                    class="promotion no-text-decoration" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/locations/?utm_source=location%20banner&amp;utm_medium=homepage&amp;utm_campaign=promotion&amp;utm_content=View%20Locations%20and%20Hours">
                    <div style="position:relative;text-align:center;color:white;">
                        <img src="/images/fwwebb/home/2024/february/locations-desktop-banner-500x372.webp"
                            class="center img-fluid p-0 m-0 d-none d-md-block col-sm-none d-lg-block" width="500"
                            height="372" loading="lazy" alt="f. w. webb locations"
                            data-uw-rm-alt-original="f. w. webb locations" data-uw-rm-alt="ALT">
                        <img src="/images/fwwebb/home/2024/february/locations-mobile-banner-800x350.webp"
                            class="promotion d-block d-sm-block d-md-none d-lg-none center img-fluid p-0 m-0"
                            style="border:1px solid black;" width="800" height="350" loading="lazy"
                            alt="f. w. webb locations">
                        <strong class="left d-none d-sm-none d-md-none d-lg-none d-xl-block"
                            style="position:absolute;top:15px;left:15px;">
                            <p class="" style="font-size:170%;line-height:23px;" data-uw-rm-color-contrast="prs">100+
                                LOCATIONS</p>
                            <p class="" style="color:#E10600;font-size:205%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">ACROSS
                                THE</p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:25px;"
                                data-uw-rm-color-contrast="prs">
                                NORTHEAST</p>
                        </strong>
                        <strong class="left d-none d-sm-none d-md-none d-lg-block d-xl-none"
                            style="position:absolute;top:15px;left:15px;">
                            <p class="" style="font-size:140%;line-height:15px;" data-uw-rm-color-contrast="prs">100+
                                LOCATIONS</p>
                            <p class="" style="color:#E10600;font-size:185%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">ACROSS
                                THE</p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:20px;"
                                data-uw-rm-color-contrast="prs">NORTH-
                            </p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">EAST</p>
                        </strong>
                        <strong class="left d-none d-sm-none d-md-block d-lg-none d-xl-none"
                            style="position:absolute;top:15px;left:15px;">
                            <p class="" style="font-size:125%;line-height:15px;" data-uw-rm-color-contrast="prs">100+
                                LOCATIONS</p>
                            <p class="" style="color:#E10600;font-size:155%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">ACROSS
                                THE</p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:20px;"
                                data-uw-rm-color-contrast="prs">NORTH-
                            </p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">EAST</p>
                        </strong>
                        <strong class="left d-block d-sm-block d-md-none" style="position:absolute;top:5px;left:5px;">
                            <p class="" style="font-size:170%;line-height:20px;" data-uw-rm-color-contrast="prs">100+
                                LOCATIONS</p>
                            <p class="" style="color:#E10600;font-size:195%;line-height:0px;"
                                data-uw-rm-color-contrast="prs">ACROSS
                                THE</p>
                            <p class="" style="color:#E10600;font-size:175%;line-height:25px;"
                                data-uw-rm-color-contrast="prs">
                                NORTHEAST</p>
                        </strong>
                    </div>
                </a>
                <a href="/locations/?utm_source=location%20banner&amp;utm_medium=homepage&amp;utm_campaign=promotion&amp;utm_content=View%20Locations%20and%20Hours"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/locations/?utm_source=location%20banner&amp;utm_medium=homepage&amp;utm_campaign=promotion&amp;utm_content=View%20Locations%20and%20Hours">
                    <div class="btn btn-red locations-btn"
                        style="position: absolute; bottom: 15px; right: 15px; background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;"
                        data-uw-rm-color-contrast="afix" data-data-uw-rm-color-contrast-styled="true">VIEW LOCATIONS
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--LINE OF PRODUCTS-->
<div class="container-fluid mt-5 mb-3">
    <!--LARGE AND EXTRA LARGE-->
    <div class="container-xl container-lg center d-none d-md-none d-lg-block">
        <div class="row center-block-front center center-float">
            <div class="col super-cat-box-front center"><a href="/landing/main-plumbing.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-plumbing.php"> <img
                        src="/images/fwwebb/home/front-page-plumbing.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Plumbing" data-uw-rm-alt-original="Plumbing"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Plumbing</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-heating.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-heating.php"> <img
                        src="/images/fwwebb/home/front-page-heating.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Heating" data-uw-rm-alt-original="Heating"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Heating</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-hvacr.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-hvacr.php"> <img
                        src="/images/fwwebb/home/front-page-hvac.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="HVAC/R" data-uw-rm-alt-original="HVAC/R" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">HVAC/R</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-pipe.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-pipe.php"> <img
                        src="/images/fwwebb/home/front-page-pipe.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Pipe &amp; Tube" data-uw-rm-alt-original="Pipe &amp; Tube"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Pipe &amp; Tube</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-valves.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-valves.php"> <img
                        src="/images/fwwebb/home/front-page-valves-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Valves" data-uw-rm-alt-original="Valves" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Valves</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-fittings.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-fittings.php"> <img
                        src="/images/fwwebb/home/front-page-fittings.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Fittings" data-uw-rm-alt-original="Fittings"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Fittings</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-hangers.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-hangers.php"> <img
                        src="/images/fwwebb/home/front-page-hangers.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Hangers" data-uw-rm-alt-original="Hangers"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Hangers</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-electrical.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-electrical.php"> <img
                        src="/images/fwwebb/home/front-page-electrical.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Electrical" data-uw-rm-alt-original="Electrical"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Electrical</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-tools.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-tools.php"> <img
                        src="/images/fwwebb/home/front-page-tools-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Tools" data-uw-rm-alt-original="Tools" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Tools</b></p>
                </a></div>

        </div>
    </div>
    <!--MEDIUM-->
    <div class="container-md center d-none d-md-block d-lg-none">
        <div class="row center-block-front center center-float">
            <div class="col super-cat-box-front center"><a href="/landing/main-plumbing.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-plumbing.php"> <img
                        src="/images/fwwebb/home/front-page-plumbing.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Plumbing" data-uw-rm-alt-original="Plumbing"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Plumbing</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-heating.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-heating.php"> <img
                        src="/images/fwwebb/home/front-page-heating.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Heating" data-uw-rm-alt-original="Heating"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Heating</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-hvacr.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-hvacr.php"> <img
                        src="/images/fwwebb/home/front-page-hvac.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="HVAC/R" data-uw-rm-alt-original="HVAC/R" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">HVAC/R</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-pipe.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-pipe.php"> <img
                        src="/images/fwwebb/home/front-page-pipe.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Pipe &amp; Tube" data-uw-rm-alt-original="Pipe &amp; Tube"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Pipe &amp; Tube</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-valves.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-valves.php"> <img
                        src="/images/fwwebb/home/front-page-valves-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Valves" data-uw-rm-alt-original="Valves" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Valves</b></p>
                </a></div>
        </div>
        <div class="row center-block-front center center-float">
            <div class="col super-cat-box-front center"><a href="/landing/main-fittings.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-fittings.php"> <img
                        src="/images/fwwebb/home/front-page-fittings.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Fittings" data-uw-rm-alt-original="Fittings"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Fittings</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-hangers.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-hangers.php"> <img
                        src="/images/fwwebb/home/front-page-hangers.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Hangers" data-uw-rm-alt-original="Hangers"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Hangers</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-electrical.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-electrical.php"> <img
                        src="/images/fwwebb/home/front-page-electrical.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Electrical" data-uw-rm-alt-original="Electrical"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Electrical</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-tools.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-tools.php"> <img
                        src="/images/fwwebb/home/front-page-tools-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Tools" data-uw-rm-alt-original="Tools" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Tools</b></p>
                </a></div>
            <div class="col super-cat-box-front center"><a href="/landing/main-safety.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-safety.php"> <img
                        src="/images/fwwebb/home/front-page-safety.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Safety">
                    <p><b data-uw-rm-color-contrast="prs">Safety</b></p>
                </a></div>
        </div>
    </div>
    <!--SMALL AND EXTRA SMALL-->
    <div class="container-sm center d-block d-sm-block d-md-none">
        <div class="row center-block-front center center-float">
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-plumbing.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-plumbing.php"> <img
                        src="/images/fwwebb/home/front-page-plumbing.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Plumbing" data-uw-rm-alt-original="Plumbing"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Plumbing</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-heating.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-heating.php"> <img
                        src="/images/fwwebb/home/front-page-heating.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Heating" data-uw-rm-alt-original="Heating"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Heating</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-hvacr.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-hvacr.php"> <img
                        src="/images/fwwebb/home/front-page-hvac.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="HVAC/R" data-uw-rm-alt-original="HVAC/R" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">HVAC/R</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-pipe.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-pipe.php"> <img
                        src="/images/fwwebb/home/front-page-pipe.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Pipe &amp; Tube" data-uw-rm-alt-original="Pipe &amp; Tube"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Pipe &amp; Tube</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-valves.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-valves.php"> <img
                        src="/images/fwwebb/home/front-page-valves-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Valves" data-uw-rm-alt-original="Valves" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Valves</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-fittings.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-fittings.php"> <img
                        src="/images/fwwebb/home/front-page-fittings.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Fittings" data-uw-rm-alt-original="Fittings"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Fittings</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-hangers.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-hangers.php"> <img
                        src="/images/fwwebb/home/front-page-hangers.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Hangers" data-uw-rm-alt-original="Hangers"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Hangers</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-electrical.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-electrical.php"> <img
                        src="/images/fwwebb/home/front-page-electrical.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Electrical" data-uw-rm-alt-original="Electrical"
                        data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Electrical</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-tools.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/landing/main-tools.php"> <img
                        src="/images/fwwebb/home/front-page-tools-2.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Tools" data-uw-rm-alt-original="Tools" data-uw-rm-alt="ALT">
                    <p><b data-uw-rm-color-contrast="prs">Tools</b></p>
                </a></div>
            <div class="col-6 col-sm-6 super-cat-box-front center"><a href="/landing/main-safety.php"
                    data-uw-rm-brl="PR" data-uw-original-href="https://www.fwwebb.com/landing/main-safety.php"> <img
                        src="/images/fwwebb/home/front-page-safety.webp" class="img-fluid mx-auto" width="100"
                        height="100" loading="lazy" alt="Safety">
                    <p><b data-uw-rm-color-contrast="prs">Safety</b></p>
                </a></div>
        </div>
    </div>
</div>

<!--FEATURED BRANDS-->
<div class="container col-12 col-sm-12 center pb-3 grey-bkg ps-4 pe-4">
    <h1 class="mt-1 mb-3 center fs-2 pt-3" data-uw-rm-color-contrast="prs" role="heading" aria-level="2"
        data-uw-rm-heading="level">Featured Products</h1>
    <div class="mx-auto-front center">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 center grey-border"> <a id="home-x-zone-1-2"
                    data-options="{&quot;id&quot;:&quot;advantage-boilers&quot;,&quot;name&quot;:&quot;advantage&quot;,&quot;advantage&quot;:&quot;v1&quot;}"
                    class="promotion"
                    href="/shop/advantage-boilers?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=shop-advantage-boilers"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/advantage-boilers?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=shop-advantage-boilers">
                    <div class="row bg-white"
                        style="border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) !important; transition: all 0s ease 0s;"
                        data-data-uw-rm-color-contrast-styled="true" data-uw-rm-color-contrast="afix">
                        <div class="col-6 col-sm-6 col-xl-12 center"> <img
                                src="/images/fwwebb/home/2021/Advantage_logo.webp" class="mx-auto img-fluid pt-2"
                                width="221" height="71" loading="lazy" alt="Advantage Exclusive Brand"
                                data-uw-rm-ima-original="Advantage" data-uw-rm-alt-original="Advantage Exclusive Brand"
                                data-uw-rm-alt="ALT">
                            <p class="text-dark fs-6 mt-2 mb-0"><strong data-uw-rm-color-contrast="prs">Advantage
                                    Boilers</strong></p>
                            <p class="red bold" data-uw-rm-color-contrast="afix"
                                data-data-uw-rm-color-contrast-styled="true"
                                style="color: rgb(191, 0, 0) !important; transition: all 0s ease 0s;">Order Now</p>
                        </div>
                        <div class="col-6 col-sm-6 col-xl-12 center mx-auto my-auto"> <img
                                src="/images/fwwebb/home/2023/october/advantage.webp" class="mx-auto img-fluid"
                                width="208" height="200" loading="lazy" alt="Advantage Exclusive Brand"
                                data-uw-rm-alt-original="Advantage Exclusive Brand" data-uw-rm-alt="ALT"> </div>
                    </div>
                </a> </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 center grey-border"> <a id="home-x-zone-2"
                    data-options="{&quot;id&quot;:&quot;ideal-boilers&quot;,&quot;name&quot;:&quot;ideal&quot;,&quot;boiler&quot;:&quot;v1&quot;}"
                    class="promotion"
                    href="/shop/ideal?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-ideal-now"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/ideal?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-ideal-now">
                    <div class="row bg-white"
                        style="border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) !important; transition: all 0s ease 0s;"
                        data-data-uw-rm-color-contrast-styled="true" data-uw-rm-color-contrast="afix">
                        <div class="col-6 col-sm-6 col-xl-12 center"> <img
                                src="/images/fwwebb/home/2023/september/ideal.webp" class="mx-auto img-fluid pt-2"
                                width="221" height="71" loading="lazy" alt="Ideal Logo"
                                data-uw-rm-alt-original="Ideal Logo" data-uw-rm-alt="ALT">
                            <p class="text-dark fs-6 mt-2 mb-0"><strong data-uw-rm-color-contrast="prs">Ideal
                                    Products</strong></p>
                            <p class="red bold" data-uw-rm-color-contrast="afix"
                                data-data-uw-rm-color-contrast-styled="true"
                                style="color: rgb(191, 0, 0) !important; transition: all 0s ease 0s;">Order Now</p>
                        </div>
                        <div class="col-6 col-sm-6 col-xl-12 center mx-auto my-auto"> <img
                                src="/images/fwwebb/home/2023/september/ideal-prod.webp" class="mx-auto img-fluid"
                                width="208" height="200" loading="lazy" alt="Ideal Products"
                                data-uw-rm-alt-original="Ideal Products" data-uw-rm-alt="ALT"> </div>
                    </div>
                </a> </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 center grey-border"> <a id="home-x-zone-3"
                    data-options="{&quot;id&quot;:&quot;york-gas-furnaces&quot;,&quot;name&quot;:&quot;york&quot;,&quot;york&quot;:&quot;v1&quot;}"
                    class="promotion"
                    href="/shop/york-gas-furnaces?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-york-gas-furnaces-now"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/york-gas-furnaces?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-york-gas-furnaces-now">
                    <div class="row bg-white"
                        style="border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) !important; transition: all 0s ease 0s;"
                        data-data-uw-rm-color-contrast-styled="true" data-uw-rm-color-contrast="afix">
                        <div class="col-6 col-sm-6 col-xl-12 center"> <img
                                src="/images/fwwebb/home/2023/september/york.webp" class="mx-auto img-fluid pt-2"
                                width="221" height="71" alt="York" data-uw-rm-alt-original="York" data-uw-rm-alt="ALT">
                            <p class="text-dark fs-6 mt-2 mb-0"><strong data-uw-rm-color-contrast="prs">York
                                    Furnaces</strong></p>
                            <p class="red bold" data-uw-rm-color-contrast="afix"
                                data-data-uw-rm-color-contrast-styled="true"
                                style="color: rgb(191, 0, 0) !important; transition: all 0s ease 0s;">Order Now</p>
                        </div>
                        <div class="col-6 col-sm-6 col-xl-12 center mx-auto my-auto"> <img
                                src="/images/fwwebb/home/2023/september/york-prod.webp" class="mx-auto img-fluid"
                                width="208" height="200" loading="lazy" alt="York Furnaces"
                                data-uw-rm-alt-original="York Furnaces" data-uw-rm-alt="ALT"> </div>
                    </div>
                </a> </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 center grey-border"> <a id="home-x-zone-4"
                    data-options="{&quot;id&quot;:&quot;samsung&quot;,&quot;name&quot;:&quot;samsung&quot;,&quot;samsung &quot;:&quot;v1&quot;}"
                    class="promotion"
                    href="/shop/samsung-ac?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-samsung-ac-now"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/samsung-ac?utm_source=google&amp;utm_medium=direct&amp;utm_campaign=promotion&amp;utm_content=order-samsung-ac-now">
                    <div class="row bg-white"
                        style="border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) !important; transition: all 0s ease 0s;"
                        data-data-uw-rm-color-contrast-styled="true" data-uw-rm-color-contrast="afix">
                        <div class="col-6 col-sm-6 col-xl-12 center"> <img
                                src="/images/fwwebb/home/2023/september/samsung.webp" class="mx-auto img-fluid pt-2"
                                width="221" height="71" loading="lazy" alt="Sasmsung" data-uw-rm-alt-original="Sasmsung"
                                data-uw-rm-alt="ALT">
                            <p class="text-dark fs-6 mt-2 mb-0"><strong data-uw-rm-color-contrast="prs">Samsung
                                    AC</strong></p>
                            <p class="red bold" data-uw-rm-color-contrast="afix"
                                data-data-uw-rm-color-contrast-styled="true"
                                style="color: rgb(191, 0, 0) !important; transition: all 0s ease 0s;">Order Now</p>
                        </div>
                        <div class="col-6 col-sm-6 col-xl-12 center mx-auto my-auto"> <img
                                src="/images/fwwebb/home/2023/september/samsung-prod.webp" class="mx-auto img-fluid"
                                width="208" height="200" loading="lazy" alt="Samsung AC"
                                data-uw-rm-alt-original="Samsung AC" data-uw-rm-alt="ALT">
                        </div>
                    </div>
                </a></div>
        </div>
    </div>
</div>

<!--TOP BRANDS-->
<div class="container-xl container-lg container-fluid-sm mt-2 mb-3">
    <h2 class="mt-1 mb-3 center fs-2 pt-5" data-uw-rm-color-contrast="prs">Top Brands</h2>
    <div class="mx-auto-front center center-float p-2">
        <div class="row">
            <!----------------------- row 1 --------------------- -->
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/nibco" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/nibco"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/nibco.webp" loading="lazy"
                        width="193" height="118" alt="Nibco" data-uw-rm-alt-original="Nibco" data-uw-rm-alt="ALT"></a>
            </div>

            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/rheem" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/rheem"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="https://fwwebbimage.fwwebb.com/Logos/rheem.gif"
                        loading="lazy" width="100" height="100" alt="Rheem" data-uw-rm-alt-original="Rheem"
                        data-uw-rm-alt="ALT"></a></div>

            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/samsung" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/samsung"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/samsung.webp"
                        loading="lazy" width="193" height="118" alt="Samsung" data-uw-rm-alt-original="Samsung"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/york" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/york"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/york.webp" loading="lazy"
                        width="193" height="118" alt="York" data-uw-rm-alt-original="York" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/charlotte" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/charlotte"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/CharlottePipe.webp"
                        loading="lazy" width="193" height="118" alt="Charlotte Pipe &amp; Foundry Co"
                        data-uw-rm-alt-original="Charlotte Pipe &amp; Foundry Co" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/american-standard" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/american-standard"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/american-standard.webp"
                        loading="lazy" width="193" height="118" alt="American Standard"
                        data-uw-rm-alt-original="American Standard" data-uw-rm-alt="ALT"></a></div>
            <!----------------------- row 2 --------------------- -->
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/taco" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/taco"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/taco.webp" loading="lazy"
                        width="193" height="118" alt="Taco" data-uw-rm-alt-original="Taco" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/navien" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/navien"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/NAV-Logo.webp"
                        loading="lazy" width="193" height="118" alt="NAVIEN" data-uw-rm-alt-original="NAVIEN"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/gerber" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/gerber"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/gerber.webp" loading="lazy"
                        width="193" height="118" alt="Gerber Corp" data-uw-rm-alt-original="Gerber Corp"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/moen" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/moen"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/moen.webp" loading="lazy"
                        width="193" height="118" alt="Moen" data-uw-rm-alt-original="Moen" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/worthington" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/worthington"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/worthington.webp"
                        loading="lazy" width="193" height="118" alt="Worthington Cylinder"
                        data-uw-rm-alt-original="Worthington Cylinder" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/milwaukee-tools" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/milwaukee-tools"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/Milwaukee.webp"
                        loading="lazy" width="193" height="118" alt="Milwaukee Electric Tool"
                        data-uw-rm-alt-original="Milwaukee Electric Tool" data-uw-rm-alt="ALT"></a></div>
            <!----------------------- row 3 --------------------- -->
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/apollo" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/apollo"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/apollo-valves.webp"
                        loading="lazy" width="193" height="118" alt="Apollo/Conbraco"
                        data-uw-rm-alt-original="Apollo/Conbraco" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/burnham" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/burnham"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/burnham.webp"
                        loading="lazy" width="193" height="118" alt="S Boiler Company Inc/Burnham"
                        data-uw-rm-alt-original="S Boiler Company Inc/Burnham" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/delta" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/delta"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/Delta.webp" loading="lazy"
                        width="193" height="118" alt="Delta Faucet" data-uw-rm-alt-original="Delta Faucet"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/purepro" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/purepro"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/pure-pro.webp"
                        loading="lazy" width="193" height="118" alt="PUREPRO" data-uw-rm-alt-original="PUREPRO"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/elkay" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/elkay"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/elkay.webp" loading="lazy"
                        width="193" height="118" alt="Elkay Mfg" data-uw-rm-alt-original="Elkay Mfg"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/oatey" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/oatey"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/Oatey.webp" loading="lazy"
                        width="193" height="118" alt="Oatey" data-uw-rm-alt-original="Oatey" data-uw-rm-alt="ALT"></a>
            </div>
            <!----------------------- row 4 --------------------- -->
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/symmons" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/symmons"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/symmons.webp"
                        loading="lazy" width="193" height="118" alt="Symmons Industries Inc"
                        data-uw-rm-alt-original="Symmons Industries Inc" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/toto" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/toto"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/toto.webp" loading="lazy"
                        width="193" height="118" alt="Toto" data-uw-rm-alt-original="Toto" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/lochinvar" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/lochinvar"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/lochinvar.webp"
                        loading="lazy" width="193" height="118" alt="Lochinvar" data-uw-rm-alt-original="Lochinvar"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/caleffi" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/caleffi"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/caleffi.webp"
                        loading="lazy" width="193" height="118" alt="Caleffi North America"
                        data-uw-rm-alt-original="Caleffi North America" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/amtrol" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/amtrol"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/amtrol.webp" loading="lazy"
                        width="193" height="118" alt="Amtrol Inc" data-uw-rm-alt-original="Amtrol Inc"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/weil-mclain" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/weil-mclain"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/weil-mclain.webp"
                        loading="lazy" width="193" height="118" alt="Weil McLain" data-uw-rm-alt-original="Weil McLain"
                        data-uw-rm-alt="ALT"></a></div>
            <!----------------------- row 5 --------------------- -->
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/modine" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/modine"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/modine.webp" loading="lazy"
                        width="193" height="118" alt="Modine" data-uw-rm-alt-original="Modine" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/ideal" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/ideal"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/Ideal.webp" loading="lazy"
                        width="193" height="118" alt="Ideal" data-uw-rm-alt-original="Ideal" data-uw-rm-alt="ALT"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/resideo" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/resideo"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/resideo.webp"
                        loading="lazy" width="193" height="118" alt="Resideo" data-uw-rm-alt-original="Resideo"
                        data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/georg-fischer" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/georg-fischer"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/georg-fischer.webp"
                        loading="lazy" width="193" height="118" alt="Georg Fischer"
                        data-uw-rm-alt-original="Georg Fischer" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/rls" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/rls"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/rapid-locking-system.webp"
                        width="193" height="118" loading="lazy" alt="Rapid Locking System"
                        data-uw-rm-alt-original="Rapid Locking System" data-uw-rm-alt="ALT"></a></div>
            <div class="col-6 col-sm-6 col-md-2 my-0"><a href="/shop/watts" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/shop/watts"><img
                        class="mx-auto img-fluid mx-auto bw-logo" src="/images/fwwebb/brands/watts.webp" loading="lazy"
                        width="193" height="118" alt="Watts Water Tech" data-uw-rm-alt-original="Watts Water Tech"
                        data-uw-rm-alt="ALT"></a></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="p-2 col-12 col-md-12 center"> <a href="brands.php" data-uw-rm-brl="PR"
                    data-uw-original-href="https://www.fwwebb.com/brands.php">
                    <div class="btn btn-red mb-4" data-uw-rm-color-contrast="afix"
                        data-data-uw-rm-color-contrast-styled="true"
                        style="background: rgb(191, 0, 0) !important; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(255, 255, 255) !important;">
                        See All Brands</div>
                </a> </div>
        </div>
    </div>
</div>


{% endblock %}